.dynamic-prompting .collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #eee;;
    border-right-style: solid;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-radius: 8px 8px 8px 8px;
    padding: 5px;
    margin-top: 10px;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.dynamic-prompting .active, .collapsible:hover {
    background-color: #555;
    border: 1px solid #eee;
    color: white;
}

.dynamic-prompting .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    border: 1px solid #eee;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-radius: 0px 0px 8px 8px;
}

.dynamic-prompting .codeblock {
    color: #50a080;
}

.dark .dynamic-prompting .collapsible {
    background-color: rgb(31, 41, 55);
    border: 2px solid rgb(31, 41, 55);
}

.dark .dynamic-prompting .active, .collapsible:hover {
    background-color: #06080D;
    border: 2px solid #06080D;
}

.dark .dynamic-prompting .content {
    border: 2px solid #0C111C;
}

#is-combinatorial:after {
    content: "Generate all possible prompts up to a maximum of Batch count * Batch size)"
}

#is-magicprompt:after {
    content: "Automatically update your prompt with interesting modifiers. (Runs slowly the first time)"
}

#is-feelinglucky:after {
    content: "Generate random prompts from lexica.art (your prompt is used as a search query)."
}

#is-fixed-seed:after {
    content: "Use the same seed for all prompts in this batch"
}

#write-prompts:after {
    content: "Write all generated prompts to a file"
}

#unlink-seed-from-prompt:after {
    content: "If this is set, then random prompts are generated, even if the seed is the same."
}

#disable-negative-prompt:after {
    content: "Useful for I'm feeling lucky and Magic Prompt. If this is set, then negative prompts are not generated."
}

#no-image-generation:after {
    content: "Disable image generation. Useful if you only want to generate text prompts."
}

.dynamic-prompting h2 {
    font-size: 1.2em;
    font-weight: bolder;
}

.dynamic-prompting h3 {
    font-size: 1.1em;
    font-weight: bolder;
}

.dynamic-prompting a {
    color: #50a080;
}
